* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: initial;
}
#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #c0392b;
}
#header h1 {
    color: white;
}
#nav a{
    text-decoration: none;
    color: white;
    margin-right: 20px;
}
#info {
    width: 70%;
    display: flex;
    margin: 70px 300px;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}
.item {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex-wrap: wrap;
}
.item img {
    width: 475px;
    height: 365px;
    border-radius: 20px;
}
.body {
    text-align: center;
    color: #c0392b;
}
.img {
    margin: 50px 300px;
    display: flex;
    gap: 20px;
}
.item2 {
    display: flex;
    flex-direction: column;
    gap: 5px;
    color: black;
    border-radius: 20px;
    width: 300px;
    height: 280px;
    background-color: bisque;
}
.item2 img {
    width: 100%;
    height: 60%;
    
}
.cost {
    color: #c0392b;
}
footer {
    text-align: center;
    width: 100%;
    color: white;
    background-color: #2c2c2c ;
}
.footer {
   padding: 30px 50px;
}