* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Inter";
}
header {
    width: 100%;
   
}
#header {
     display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 30px 0;
}
#logo {
    color: #E76F51;
    font-size: 30px;
    display: flex;
    align-items: center;
    gap: 4px;
}
#nav a{
    text-decoration: none;
    color: black;
    margin: 0 15px;
}
.button button {
    font-size: 20px;
    color: white;
    background-color: #E76F51;
    border: none;
    padding: 20px;
    border-radius: 30px;
}
#info {
    background-image: url(./361bd1d27b5653a70677cfbf87b482bf1029e145.png);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 245px 546px;
    color: white;
    gap: 10px;
}
#info p {
    line-height: 20px;
}
#body {
    background-color: #fff8f0;
}
.img img {
    width: 320px;
    height: 220px;
    border-radius: 10px 10px 0 0;
}
#menu {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#menu h2 {
    color: #E76F51;
}
#mon {
    display: flex;
    justify-content: space-between;
    width: 70%;
    padding-bottom: 30px;
}
.item {
    margin: 30px 0;
    background-color: white;
    border-radius: 10px;
    width: 320px;
    height: 446px;
}
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    line-height: 30px;
    padding: 15px;
}
.content h4:nth-child(2) {
    color: #E76F51;
}
#thucdon {
    width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}
.thucdon2 {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}
.element {
    background-color: white;
    border-radius: 20px;
    width: 280px;
    height: 68px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    
}
.element p:nth-child(2){
    color: #E76F51;
}
footer {
    background-color: #3C2F2F;
    padding:50px 300px;
    color: white;
  
}
#footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    line-height: 30px;
    border-bottom: 1px solid grey;
}
.title {
    padding-bottom: 20px;
    display: flex;
    font-size: 20px;
    color: #E76F51;
    gap: 5px;
}
#end {
    display: block;
    padding: 10px 0;
    text-align: center;
}